$bgColor: black;
$hoveColor: #FF4D4D;
$animation: .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
$gray-500: red;
$form-range-thumb-disabled-bg:             $gray-500;