@charset "UTF-8";
.selector-for-some-widget {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

* {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 1150px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* .container-fluid:not(.logo) {   тест
    background-color: $bgColor;
  }  */
.bg-light {
  background-color: white !important;
}

.logo {
  margin-right: 275px;
}

.container-fluid {
  width: 1155px;
  height: 57px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 37px;
}

.navbar-light .navbar-nav .nav-link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #021206;
  opacity: 0.5;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #FF4D4D;
}

.nav-item {
  margin: 0;
  padding: 0;
}

.navbar-btn-left {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #021206;
  opacity: 0.7;
  border: none;
  background: none;
}
.navbar-btn-left:hover {
  -webkit-transition: 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: #FF4D4D;
}

.navbar-btn-right {
  background: #F44545;
  border-radius: 6px;
  border: none;
  width: 129px;
  height: 57px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  margin: 0px 10px;
}

/* .text-test {
    @include p;
} */
.container-new {
  width: 1321.32px;
  height: 496px;
  margin-top: 110px;
}

.part-pp {
  margin-top: 35.47px;
}

.pp-right {
  margin-left: 30px;
}

.text-new {
  width: 510px;
  height: 403.89px;
}
.text-new p {
  margin-top: 25.4px;
  margin-bottom: 30px;
  width: 509px;
  height: 68px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
}

.text-info {
  width: 487px;
  height: 150px;
}

.develop-h1:not(.one-step) {
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 81px;
  color: #021206;
}

.one-step {
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 81px;
  color: #43DDAA;
}

.search-box {
  position: relative;
}

.search-txt {
  position: relative;
  width: 472px;
  height: 65px;
  background: #FFFFFF;
  border-radius: 6px;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #021206;
  opacity: 0.5;
  padding-left: 24px;
  -webkit-filter: drop-shadow(-5px 5px 45px rgba(2, 18, 6, 0.15));
          filter: drop-shadow(-5px 5px 45px rgba(2, 18, 6, 0.15));
}
.search-txt:focus {
  outline: none;
}

.search {
  position: absolute;
  width: 120px;
  height: 53px;
  background: #F44545;
  border-radius: 6px;
  border: none;
  left: 67%;
  top: 8.5%;
}
.search a {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 31px;
  color: #FFFFFF;
  text-decoration: none;
}

.notebook-border {
  width: 746.63px;
  height: 440.87px;
  position: relative;
}

.notebook {
  position: absolute;
  top: -110%;
  left: 70%;
}

.telephone {
  position: absolute;
  left: 80%;
  top: -64%;
  background: url(../../img/image-9.png) no-repeat center center;
}

.partners {
  max-width: 100%;
  height: 163px;
  background: rgba(142, 230, 201, 0.1);
  margin-bottom: 110px;
}

.wrapp {
  width: 1150px;
  margin: 0 auto;
}

.part-logo {
  height: 163px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-one {
  width: 1216px;
  height: 610px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 110px;
}

.setting {
  width: 594px;
  height: 610px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.set-text {
  width: 548px;
  margin-left: 74px;
}
.set-text h1 {
  width: 480px;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 67px;
  color: #021206;
  margin-bottom: 20px;
}
.set-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
  width: 479px;
}
.set-text button {
  margin-top: 29px;
  padding: 15px 40px;
  width: 183px;
  height: 59px;
  background: #282323;
  border-radius: 6px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  margin-right: 25px;
}
.set-text button:hover {
  -webkit-transition: 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: #FF4D4D;
}
.set-text a {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  text-decoration: none;
  color: #FF4D4D;
}

.set-one {
  width: 282px;
  height: 290px;
  background: #FFFFFF;
  border: 1px solid rgba(2, 18, 6, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 35px;
  cursor: pointer;
}
.set-one:hover {
  -webkit-box-shadow: 0px 15px 65px rgba(65, 77, 68, 0.15);
          box-shadow: 0px 15px 65px rgba(65, 77, 68, 0.15);
  -webkit-transition: 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.one-right {
  margin-right: 30px;
}

.one-mr {
  margin-top: 30px;
}

.set-h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 31px;
  color: #021206;
  opacity: 0.8;
  margin-top: 25px;
  margin-bottom: 9px;
}

.set-p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
}

.one-vector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75px;
  height: 75px;
  background: linear-gradient(141.58deg, #FF9A9A 3.63%, #F14C4C 91.45%);
  mix-blend-mode: normal;
  -webkit-box-shadow: 1px 5px 30px rgba(215, 21, 21, 0.5);
          box-shadow: 1px 5px 30px rgba(215, 21, 21, 0.5);
  border-radius: 10px;
}
.one-vector img {
  width: 34.08px;
  height: 35px;
}

.two-vector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75px;
  height: 75px;
  background: linear-gradient(154.24deg, #85FED6 4.45%, #4EDAAC 83.73%);
  background-blend-mode: luminosity;
  mix-blend-mode: normal;
  -webkit-box-shadow: 1px 5px 30px rgba(83, 215, 171, 0.5);
          box-shadow: 1px 5px 30px rgba(83, 215, 171, 0.5);
  border-radius: 10px;
}
.two-vector img {
  width: 35px;
  height: 35px;
}

.three-vector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75px;
  height: 75px;
  background: linear-gradient(163.65deg, #FCD876 4.69%, #FABC13 88.66%);
  background-blend-mode: luminosity;
  mix-blend-mode: normal;
  -webkit-box-shadow: 1px 5px 30px rgba(238, 185, 42, 0.6);
          box-shadow: 1px 5px 30px rgba(238, 185, 42, 0.6);
  border-radius: 10px;
}
.three-vector img {
  width: 29.8px;
  height: 35px;
}

.four-vector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75px;
  height: 75px;
  background: linear-gradient(143.75deg, #FE9AF4 0%, #EC4EDC 88.72%);
  background-blend-mode: luminosity;
  mix-blend-mode: normal;
  -webkit-box-shadow: 1px 5px 30px rgba(230, 68, 214, 0.5);
          box-shadow: 1px 5px 30px rgba(230, 68, 214, 0.5);
  border-radius: 10px;
}
.four-vector img {
  width: 35px;
  height: 35px;
}

.container-two {
  height: 465px;
}

.content-box-two {
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-text-two {
  width: 524px;
  height: 398px;
  margin-top: 33px;
  margin-bottom: 33px;
}
.content-text-two h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 67px;
  color: #021206;
  width: 524px;
  margin-bottom: 20px;
}
.content-text-two p {
  width: 448px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
  margin-bottom: 20px;
}

.list-text-two {
  width: 423px;
}

.mark {
  padding: 0;
  background: none !important;
  list-style-position: inside;
  list-style-image: url(../../img/Group-9.png);
}
.mark li {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #021206;
  opacity: 0.7;
}

.content-img-two {
  margin-top: 10%;
  margin-left: 5%;
}

.container-three {
  height: 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 208px;
}

.content-img-three {
  max-width: 591px;
}
.content-img-three img {
  position: relative;
  right: 30%;
}

.content-text-three {
  width: 499px;
  height: 345px;
  margin-bottom: 130px;
}
.content-text-three h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 67px;
  color: #021206;
}
.content-text-three p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
}

.container-four {
  width: 100%;
  height: 527px;
  margin-top: 120px;
  margin-bottom: 110px;
  background: rgba(142, 230, 201, 0.1);
}

.content-four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-text-four {
  width: 480px;
  height: 345px;
  margin: 91px 0;
}
.content-text-four h2 {
  width: 380px;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 67px;
  color: #021206;
}
.content-text-four p {
  width: 445px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
}
.content-text-four button {
  width: 216px;
  height: 62px;
  background: #F44545;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #FFFFFF;
  border: none;
}

.content-img-four {
  position: relative;
  bottom: 110px;
}

.container-five {
  margin-bottom: 93.3px;
}

.content-box-five {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-title-five {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content-title-five h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 67px;
  color: #021206;
}
.content-title-five p {
  width: 754px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
}

.check-box-five {
  width: 268px;
  height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 34px;
}
.check-box-five b {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 80%;
  color: #4E5951;
}
.check-box-five i {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 80%;
  color: #4E5951;
}

.form-switch .form-check-input {
  width: 58.1px;
  height: 28.98px;
  border-radius: 6px;
}

.form-switch .form-check-input:checked {
  background-image: url(../../img/Rectangle315.png);
  background-size: 17px 16px;
  background-position: 85% center;
  border: none;
}

.form-check-input:checked {
  background-color: #43DDAA;
}

.save-up-five {
  display: -webkit-box;
}
.save-up-five img {
  position: relative;
  left: 12px;
  bottom: 18px;
}
.save-up-five p {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 80%;
  color: #021206;
  opacity: 0.7;
}

.range-five {
  width: 1146px;
}

.container-six {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box-six {
  width: 361px;
  height: 604px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 120px;
}
.box-six:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 20px 100px rgba(2, 18, 6, 0.15);
          box-shadow: 0px 20px 100px rgba(2, 18, 6, 0.15);
  -webkit-transition: 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.box-six h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 170%;
  text-align: center;
  color: #021206;
  opacity: 0.5;
}
.box-six i {
  font-style: normal;
  font-weight: 600;
  font-size: 43px;
  line-height: 100%;
  text-align: center;
  color: #021206;
}
.box-six ul {
  width: 100%;
  list-style-image: url(../../img/Group-9.png);
  list-style-position: inside;
}
.box-six ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
}
.box-six ul li b {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-align: right;
  color: #021206;
  opacity: 0.7;
}
.box-six button {
  width: 239px;
  height: 60px;
  background: #FFFFFF;
  opacity: 0.2;
  border: 2px solid #F44545;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 170%;
  text-align: center;
  color: #F44545;
  opacity: 0.9;
}
.box-six button:hover {
  background: #F55454;
  border-radius: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 170%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.9;
}

.footer {
  height: 211px;
  background: rgba(142, 230, 201, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-block-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo, .footer-block-1, .footer-block-2, .footer-block-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-logo h4, .footer-block-1 h4, .footer-block-2 h4, .footer-block-3 h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 31px;
  color: #021206;
  opacity: 0.7;
  margin-bottom: 20px;
}
.footer-logo i, .footer-logo a, .footer-block-1 i, .footer-block-1 a, .footer-block-2 i, .footer-block-2 a, .footer-block-3 i, .footer-block-3 a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
  margin-bottom: 10px;
}
.footer-logo i:hover:hover, .footer-logo a:hover:hover, .footer-block-1 i:hover:hover, .footer-block-1 a:hover:hover, .footer-block-2 i:hover:hover, .footer-block-2 a:hover:hover, .footer-block-3 i:hover:hover, .footer-block-3 a:hover:hover {
  -webkit-transition: 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: #FF4D4D;
}

.footer-logo {
  width: 244px;
}
.footer-logo img {
  width: 147px;
  height: 30px;
}
.footer-logo p {
  width: 244px;
}